*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-size: 16px;
    height: 100vh;

}

.ping{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 50%;
    font-size: 26px;
    font-family: 'Commissioner', sans-serif;
}

.soon{
    font-size: 36px;
    padding-left: 40%;
     color: rgb(212, 122, 122);
     margin-bottom: 20px;
     font-family: 'Commissioner', sans-serif;
}

span{
    color: black;
    font-weight: bold;
}

.small{
    padding-left: 47%;
    margin-bottom: 20px ;
}

.browse{
    padding-left: 36%;
    margin-bottom: 40px ;
}
input{
    width: 320px;
    height: 40px;
    padding-left:20px;
    border-radius: 20px;
    outline: none;
    border-color:lightgray;
}
button{
    width: 100px;
    height:40px;
    margin-left: 10px;
    border-radius: 20px;
    border-color: rgb(120, 120, 236);
    background-color: rgb(120, 120, 236);
    color: white;
}
.bottom{
    font-size:small;
    color: rgb(160, 152, 152);
    padding-left: 45%;
    padding-top: 5px;
}


